<!DOCTYPE html>
<html>
  <%- include ('/home/jose/Documents/Tuts/node-crash-course/partials/head.ejs') %>
  <body>
    <header>
      <%- include ('/home/jose/Documents/Tuts/node-crash-course/partials/nav.ejs') %>
      <h1>Write a Blog</h1>
      <p>Share your thoughts and experiences in the water industry.<%= title %></p>
    </header>
    <main>
      <form action="submit.php" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required><br><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="10" cols="50" required></textarea><br><br>
        <input type="submit" value="Submit">
      </form>
      <h1>available blogs</h1>
    </main>
    <%- include ('/home/jose/Documents/Tuts/node-crash-course/partials/footer.ejs') %>
  </body>
</html>
