<!DOCTYPE html>
<html>
  <%- include ('/home/jose/Documents/Tuts/node-crash-course/partials/head.ejs') %>
  <body>
    <header>
      <%- include ('/home/jose/Documents/Tuts/node-crash-course/partials/nav.ejs') %>
      <h1>Oops! That page doesn't exist - 404 Error</h1>
    </header>
    <main>
      <p>We're sorry, but the page you're looking for cannot be found. It may have been removed, renamed, or is temporarily unavailable. Please check the URL and try again, or use the navigation menu above to find what you're looking for.</p>
    </main>
    <%- include ('/home/jose/Documents/Tuts/node-crash-course/partials/footer.ejs') %>
  </body>
</html>
