<!DOCTYPE html>
<html>
  <%- include ('/home/jose/Documents/Tuts/node-crash-course/partials/head.ejs') %>
  <body>
    <header>
      <%- include ('/home/jose/Documents/Tuts/node-crash-course/partials/nav.ejs') %>
      <h1>Our Work</h1>
      <p>See how we're making a difference in our community.</p>
    </header>
    <main>
      <section>
        <h2>Water Treatment</h2>
        <p>We use state-of-the-art technology to treat water from local sources and make it safe for consumption. Our treatment process includes sedimentation, coagulation, filtration, and disinfection to remove impurities and harmful microorganisms.</p>
        <img src="water-treatment.jpg" alt="Water treatment process">
      </section>
      <section>
        <h2>Water Distribution</h2>
        <p>We have series of pipelines and storage tanks to distribute clean and safe drinking water to our customers. Our distribution system is designed to ensure that water reaches every corner of our service area, even in times of high demand or emergencies.</p>
        <img src="water-distribution.jpg" alt="Water distribution system">
      </section>
      <section>
        <h2>Community Ouh</h2>
        <h2>Community Oureach</h2>
        <p>We believe that education  community involvement are key to promoting the importance of clean water. That's why we partner with local schools and organizations to raise awareness about the benefits of safe drinking water and how to conserve it. We also provide training and resources for water conservation and management.</p>
        <img src="community-outreach.jpg" alt="Community outreach program">
      </section>
    </main>
    <%- include ('/home/jose/Documents/Tuts/node-crash-course/partials/footer.ejs') %>
  </body>
</html>
